h1{
    color:blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    background-color: orange;
    color:black;
}

h2{
   font-style: italic;
}