h1{
    background-color:blueviolet;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:auto;
    width: 600px;
    text-align: center;
    padding:25px;

}

ul{
    margin:auto;
    width: 600px;
    padding: 10px;

}

li{
    background-color: orange;
    color:black;
    margin:10px;
}

h2{
   font-style: italic;
}